{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block content %}

<!--Login-->
<section id="auth">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 p-3 mt-3">
        <div class="auth-custom-card">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center text-uppercase">account login</h5>

            <form id="auth-form" method="POST" action="{% url 'account_login' %}" class="my-4">
              {% csrf_token %}

              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
              {% endif %}

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                {{ form.login }}
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-key"></i></div>
                </div>
                {{ form.password }}
              </div>
                <p><a href="{% url 'account_reset_password' %}" class="subtext">Forgot Password?</a></p>
                {{ form.errors }}

              <div class="justify-content-center btn-login-padding my-4">
                <input class="btn btn-black-sm" type="submit" value="Log me in!">
              </div>
            </form>
              
            <div class="row subtext">
              <div class="col-12 text-center">
                <p>Don't have an account?</p>
              </div>
              <div class="col-12 text-center">
                <p><a href="{{ signup_url }}" class="subtext"><i class="fas fa-pencil-alt mr-1"></i> Sign up</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div id="auth-bg" class="col-lg-6 col-sm-12 p-2"></div>
    </div>
  </div>
</section>
<!--Login end-->

{% endblock %}
