
{% extends "base.html" %}

{% load static %}

{% block content %}

<!--Checkout-->
<section id="cart">
  <div class="container pt-3">
    <div class="cart-container mt-5">
      <table class="nowrap table table-sm height-fix">
        <thead>
          <tr>
            <th>Items </th>
            <th class="cart-align-right">Price</th>
          </tr>
        </thead>
        <tbody>
              {% for order_item in order.items.all %}
                <tr>
                  <td>{{ forloop.counter }}. {{ order_item.item.name }}</td>
                  <td class="cart-align-right">{{ order_item.item.price }}€</td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="cart-container my-4">
      <table class="nowrap table table-sm height-fix">
        <thead>
          <tr>
            <th>Payment details</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tax 21 %</td>
            <td class="cart-align-right">{{ tax|floatformat:2 }}€</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Total to be paid</td>
            <td class="cart-align-right font-weight-bold">{{ total|floatformat:2 }}€</td>
          </tr>
        </tbody>
      </table>
      
      <form role="form" method="post" id="payment-form" action="">
        {% csrf_token %}

        <div id="credit-card-errors" style="display: none;">
          <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="">
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
        <div class="my-4">
          <input class=" btn btn-black-sm" id="submit_payment_btn" name="commit" type="submit" value="Place order">
        </div>
      </form>
    </div>
  </div>
</section>
<!--Checkout end-->

{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  {{ stripe_public_key|json_script:"id_stripe_public_key" }}
  {{ client_secret|json_script:"id_client_secret" }}
  <script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}