{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--Cart-->
<section id="cart">
  <div class="container">
    <div class="cart-container mt-5">
      <table class="nowrap table table-sm height-fix">
        <thead>
          <tr>
            <th>Cart</th>
            <th class="cart-align-right">Price</th>
            <th class="cart-align-right">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
            <tr>
              <td>{{ forloop.counter }}. {{ order_item.item.name }}</td>
              <td class="cart-align-right">{{ order_item.item.price }}€</td>
              <td class="cart-align-right">
                <a href="{% url 'orders:remove_from_cart' order_item.item.slug %}" class="btn-delete-cart"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="cart-container my-4">
      <table class="nowrap table table-sm height-fix">
        <thead>
          <tr>
            <th>Additional costs</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tax 21 %</td>
            <td class="cart-align-right">{{ tax|floatformat:2 }}€</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Total</td>
            <td class="cart-align-right font-weight-bold">{{ total|floatformat:2 }}€</td>
          </tr>
          <tr>
            <td class="pt-5"><a href="{% url 'orders:services' %}" class="btn btn-black-sm" role="button">Add more services</a></td>
            <td class="pt-5"><a href="{% url 'orders:checkout' %}" class="btn btn-black-sm" role="button">Checkout</a></td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--Cart end-->

{% endblock content %}