{% extends 'base.html' %}

{% block content %}

<section id="dashboard">
  <div class="container-fluid mt-4">

    <!--Orderstatus-->
    <div class="row">
      <div class="col-lg col-md col-sm-12 custom-card text-center p-3 m-3">
        <h5>Order ID</h5>
        {% if order.id_code %}
          <h6>{{ order.id_code }}</h6>
        {% else %}
          <h6>In cart</h6>
        {% endif %}
      </div>
      <div class="col custom-card text-center p-3 m-3">
        <h5>Date</h5>
        <h6>{{ order.date }}</h6>
      </div>
      <div class="col custom-card text-center p-3 m-3">
        <h5>Status</h5>
        <h6>{{ order.status }}</h6>
      </div>
    </div>
    <!--Orderstatus end-->

    <!--Billing address-->
    <div class="row mt-3">
      <div class="col-12">

        <h5 class="text-uppercase pl-2">order details: {{ order.billing_address.company_name }}</h5>
        <hr class="dashboard m-0">

        <div class="row">
          <div class="col-lg col-md col-sm-12 custom-card p-3 m-3">
            {{ order.billing_address.first_name }} {{ order.billing_address.last_name }}<br>
            {{ order.billing_address.street_address }}<br>
            {{ order.billing_address.postal }} {{ order.billing_address.city }} - {{ order.billing_address.country }}
          </div>
          <div class="col-lg-8 col-md col-sm-12 custom-card p-3 m-3">
            <span class="font-weight-bold">Comment:</span><br> {{ order.comments}}
          </div>
        </div>
      </div>
    </div>
    <!--Billing address end-->  

    <div class="row">
      <div class="col-12">

        <!--Orderdetails-->
        <div class="custom-card mt-2">
          <table class="nowrap table table-sm height-fix">
            <thead>
              <tr>
                <th>Services</th>
                <th class="cart-align-right">Price</th>
              </tr>
            </thead>
            <tbody>
              {% for order_item in order.items.all %}
                <tr>
                  <td>{{ forloop.counter }}. {{ order_item.item.name }}</td>
                  <td class="cart-align-right">{{ order_item.item.price }}€</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!--Orderdetails end-->

        <!--Order costs-->
        <div class="custom-card my-4">
          <table class="nowrap table table-sm height-fix">
            <thead>
              <tr>
                <th>Extra costs</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tax 21 %</td>
                {% if order.tax %}
                  <td class="cart-align-right">{{ order.tax|floatformat:2 }}€</td>
                {% else %}
                  <td class="cart-align-right">{{ tax|floatformat:2 }}€</td>
                {% endif %}
              </tr>
              <tr>
                <td class="font-weight-bold">Total</td>
                {% if order.tax %}
                  <td class="cart-align-right font-weight-bold"><strong>{{ order.total|floatformat:2 }}€</strong></td>
                {% else %}
                  <td class="cart-align-right font-weight-bold"><strong>{{ total|floatformat:2 }}€</strong></td>
                {% endif %}
              </tr>
            </tbody>
          </table>
          <div class="form-row justify-content-center mt-3">
            <div class="form-group col-md-6 mb-0">
              <a href="{% url 'accounts:customerpage' %}" class="btn btn-black-sm mb-3" role="button">Return to dashboard</a>
            </div>
            <div class="form-group col-md-6 mb-0">
              {% if order.id_code %}
                <a href="{{ order.artwork.url }}" target="_blank" class="btn btn-black-sm">Download artwork</a>
              {% else %}
                {% if request.user.is_superuser %}
                  <button disabled class="btn btn-gray-sm">Artwork not available</button>
                {% else %}
                  <a href="{% url 'checkout:checkout' %}" class="btn btn-black-sm" role="button">Checkout</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        <!--Order costs end-->
        
      </div>
    </div>
  </div>
</section>

{% endblock content %}