{% extends 'base.html' %}

{% block content %}

<section id="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col custom-card text-center p-3 m-3">
        <h6>Total orders</h6>
        <h5>{{ total_orders }}</h5>
      </div>
      <div class="col custom-card text-center p-3 m-3">
        <h6>Pending orders</h6>
        <h5>{{ pending_orders }}</h5>
      </div>
      <div class="col custom-card text-center p-3 m-3">
        <h6>Finished orders</h6>
        <h5>{{ finished_orders }}</h5>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-4">
        <h6 class="text-uppercase pl-2">customers</h6>
        <hr class="dashboard m-0">
        <div class="custom-card mt-3">
          <table id="dataTable" class="nowrap table table-sm">
            <thead>
              <tr>
                <th>Company name</th>
              </tr>
            </thead>
            <tbody>

              {% for customer in customer_list %}
                <tr>
                  <td>{{ customer.company_name }}</td>
                  <td><a class="btn btn-sm btn-info" href="">view</a></td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
      <div class="col-8">
        <h6 class="text-uppercase d-inline pl-2">Orders</h6>
        <hr class="dashboard m-0">
        <div class="custom-card mt-3">
          <table id="dataTable" class="nowrap table table-sm" style="width:100%">
            <thead>
              <tr>
                <th>order ID</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              {% for order in page_object %}
                <tr>
                  <td>
                    {% if order.id_code %}
                      {{ order.id_code }}
                    {% else %}
                      In cart
                    {% endif %}
                  </td>
                  <td>{{ order.date }}</td>
                  <td>{{ order.status }}</td>
                  <td>
                    <a class="subtext" href="{% url 'dashboard:orderdetails' order.id %}">
                      <i class="far fa-eye"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}