{% load static %}
{% load i18n %}
{% load cart_template_tags %}

<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Your design studio">
      <meta name="author" content="Django Heimgartner">
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.4/datatables.min.css" />
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block corejs %}
      <!--Jquery, Fontawesome, DataTables, Stripe and JavaScript-->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/dd6f581e56.js"></script>
      <script src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.4/datatables.min.js"></script>
      <script src="https://js.stripe.com/v3/"></script>
      <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

    <title>{% block head_title %}{% endblock %} {% block extra_title %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
  </head>

  <body>

    <!--Navbar-->
    <nav id="navbar" class="navbar navbar-expand-md navbar-dark custom-navbar">
      <a class="navbar-brand custom-navbarLogo" href="{% url 'home:index' %}">Silkscreenservice.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto text-uppercase">
          <li class="nav-item"><a class="nav-link" href="{% url 'home:index' %}">home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'orders:services' %}">services</a></li>

          {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#0" id="navbarDropdown" role="button" data-toggle="dropdown">Account</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                <a class="dropdown-item" href="">Profile</a>

                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  
                  <!-- https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link -->
                  <a class="dropdown-item" href="#" onclick="this.parentNode.submit();">Sign out</a>
                </form>

              </div>
            </li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">sign up</a></li>
          {% endif %}

          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'orders:cart' %}">
                <span class="badge badge-pill badge-light">
                  {{ request.user|cart_item_count }} <i class="fas fa-shopping-cart"></i>
                </span>
              </a>  
            </li>
          {% endif %}
          
        </ul>
      </div>
    </nav>
    <!--Navbar end-->

    <div>
      {% if messages %}
        {% for message in messages %}
          <div id="alerts" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock  %}

    <!--Footer-->
    <footer> 
      <div class="container-fluid footer-container text-white mt-3 px-5">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <ul class="list-unstyled quick-links">
              <li>
                <h2>Silkscreenservice.com</h2>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <ul class="list-unstyled quick-links text-center">
              <li>Groot Mijdrechtstraat 24</li>
              <li>3641RW Mijdrecht</li>
              <li>+31 (0) 297 - 286884</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <ul class="list-unstyled quick-links text-right">
              <li><a class="footer-container" href="{% url 'home:index' %}">Home</a></li>
              <li><a href="{% url 'orders:services' %}">Services</a></li>
              <li><a href="{% url 'account_signup' %}">Sign up</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
            <div class="list-unstyled list-inline social text-center mb-3">
              <a target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x px-1"></i></a>
              <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x px-1"></i></a>
              <a target="_blank" href="https://wa.me/5551337"><i class="fab fa-whatsapp-square fa-2x px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--Footer end-->

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>