{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your design studio">
    <meta name="author" content="Django Heimgartner">
  {% endblock %}

  {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.4/datatables.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

  <title>Silkscreenservice.com</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
</head>

<body>
  {% include 'navbar.html' %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock  %}

  {% include 'footer.html' %}

  {% block corejs %}
    <!--Jquery, Fontawesome, DataTables, Stripe and JavaScript-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.4/datatables.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/main.js' %}"></script>
  {% endblock %}

  {% block postloadjs %}
  {% endblock %}
</body>

</html>