<!--Footer-->
<footer>
  <div class="container-fluid footer-container text-white mt-3 px-5">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <ul class="list-unstyled quick-links">
          <li>
            <h2>Silkscreenservice.com</h2>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <ul class="list-unstyled quick-links text-center">
          <li>Groot Mijdrechtstraat 24</li>
          <li>3641RW Mijdrecht</li>
          <li>+31 (0) 297 - 286884</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <ul class="list-unstyled quick-links text-right">
          <li><a class="footer-container" href="{% url 'home:index' %}">Home</a></li>
          <li><a href="{% url 'orders:services' %}">Services</a></li>

          {% if request.user.is_authenticated %}
            <li><a href="#">To top</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">Sign up</a></li>
          {% endif %}

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
        <div class="list-unstyled list-inline social text-center mb-3">
          <a target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x px-1"></i></a>
          <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x px-1"></i></a>
          <a target="_blank" href="https://wa.me/5551337"><i class="fab fa-whatsapp-square fa-2x px-1"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Footer end-->